*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
h1{
    color: #862900;
    font-size: 27px;
    margin: 20px 0;
    padding: 20px;
    border-bottom-style: double;
    border-top-style: double;
    width: 50%;
    background-color: #ffe4e1;
}
h2{
    font-size: 20px;
    margin-top: 25px;
}
p{
    font-size: 14px;
    margin-top: 25px;

}
.box1{
    width: 395px;
    height: 164px;
    background-color:#e6e6fa;
    margin-left: 20px;
    margin-top: 25px;
    border: 2px solid blue;
}
.content1{
    margin-left: 23px;
    padding-top: 42px;
}
h3{
    color: blue;
    font-size: 15px;
}
ul.a {
    font-size: 14px;
    margin-left: 23px;
    padding-top: 15px;
}
.content2{
    margin-left: 23px;
    padding-top: 42px;
}