*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li a:hover{
    color: yellow
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    font-size: 25px;
    padding: 50px;
    color: rgb(255, 255, 255);
}
.header{
    width: 100%;
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #4CAF50;
}
.Title{
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
h1{
    font-size: 40px;
    padding: 80px;
    color: white;
}
.AboutMe{
    background-color: black;
}
h2{
    text-align: center;
    font-size: 60px;
    padding: 40px;
    color: #4CAF50;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.About{
    flex-basis: 50%;
    min-width: 300px;
}
p{
    font-size: 20px;
    color: white;
}
.About img{
    max-width: 40%;
    padding: 50px 0;
    margin-left: 350px;
}
.logo{
    cursor: pointer;